nav{
	background: #1891AC;
}
.mainbody{
	width:100%;
	padding-top:70px;
}

.timu-header{
	width:100%;
	padding: 2.5px 1%;
	background: #f7f7f7;
}

.timu-title{
	margin-top:5px;
	font-size: 2rem;
}

.timu-footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 0.8rem;
	color: #bbb;
}

.timu-footer div{
	margin: 5px 0.5%;
}

.des-code{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
}

.des{
	width: 40%;
}
.table-strip tbody tr:nth-child(odd){
	background: #D3F6D1
}


.timu-des{
	margin: 3% 2%;
	border:1px #ccc solid;
	border-radius: 5px;
}

.des-header{
	background: #86C1D4;
	padding: 5px 1%;
	font-size: 0.9rem;
	color: #fff;
	font-weight:600;
}

.des-content{
	padding: 2% 1%;
	font-size: 0.85rem;
	line-height: 30px;
}

table{
	width: 96%;
	margin: 20px 2%;
}

table thead tr{
	height:20px;
}

table thead tr th{
	font-size:0.9rem;
	text-align: center;
	padding: 5px 10px;
	border:1px #ccc solid;
}

table tbody tr{
	border:1px #ccc solid;
}

table tbody tr td{
	font-size:0.9rem;
	text-align: center;
	padding: 5px 10px;
}

.status-answer{
	color:#fff;
	border-radius: 2px;
	padding: 3px;
	font-size: 0.7rem;
}

.status-change{
	display: flex;
	align-items: center;
}

.status-change div{
	height: 80px;
	margin-top:40px;
}

#foo{
	position: absolute;
	margin:-90px 0 0 15%;
}

#evaluating{
	padding:20px 2%;
}

.evaluating-footer{
	display: flex;
	justify-content: space-between;
}

.code{
	width: 58%;
	margin: 0 1%;
	background: #e8e8e8;
	border-radius: 5px;
}

.editor-header{
	display: flex;
	padding:5px;
	justify-content: flex-end;
	align-items: center;
}

#editor {
	width:100%;
	height:100%;
	font-size: 1rem;
}

.accepted{
	background: rgb(39, 194, 76);
}

.compiling{
	background: #FC8A15;
}

.pending{
	background: #bbb;
}

.running{
	background: red;
}

.flex-btn{
	margin:0 5px; cursor: pointer;
}

.form-control-plus{
	width:15%;margin:0 5px;
}

@media (max-width: 768px){
	.code{
		display: none;
	}

	.des{
		width: 100%;
	}
}

/*pending灰色*/
.running1{
	background: #bbb;
}

/*judging蓝色*/
.running2{
	background: #4797B1;
}

/*accepted绿色*/
.running3{
	background: rgb(39, 194, 76);
}

/*ComplieError黄色*/
.running4{
	background: #FC8A15;
}

/*RuntimeError粉红*/
.running5{
	background: #FF847C;
}

/*submit failed红色*/
.running0{
	background: red;
}




