<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.ProblemDAO">

    <!-- save语句 -->
    <insert id="save" parameterType="Problem" >

        <selectKey resultType="java.lang.Integer" keyProperty="problem_id" order="AFTER" >
            SELECT @@IDENTITY
        </selectKey>

        insert into problem(
        problem_type,
        algorithm,
        data_structure,
        difficulty,
        title,
        description,
        input_description,
        output_description,
        input_test,
        output_test,
        data_area,
        add_time,
        time_limit,
        memory_limit
        )
        values
        (
        #{problem_type},
        #{algorithm},
        #{data_structure},
        #{difficulty},
        #{title},
        #{description},
        #{input_description},
        #{output_description},
        #{input_test},
        #{output_test},
        #{data_area},
        #{add_time},
        #{time_limit},
        #{memory_limit}
        )
    </insert>

    <insert id="saveBatch" parameterType="java.util.List" keyProperty="problem_id">

        <selectKey resultType="java.lang.Integer" keyProperty="problem_id" order="AFTER" >
            SELECT @@IDENTITY
        </selectKey>

        insert into problem(
        problem_type,
        algorithm,
        data_structure,
        difficulty,
        title,
        description,
        input_description,
        output_description,
        input_test,
        output_test,
        data_area,
        add_time,
        time_limit,
        memory_limit)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.problem_type},
            #{item.algorithm},
            #{item.data_structure},
            #{item.difficulty},
            #{item.title},
            #{item.description},
            #{item.input_description},
            #{item.output_description},
            #{item.input_test},
            #{item.output_test},
            #{item.data_area},
            #{item.add_time},
            #{item.time_limit},
            #{item.memory_limit}
            )
        </foreach>

    </insert>

    <!-- remove语句 -->
    <delete id="remove" parameterType="int">
        delete from problem
        where problem_id=#{problem_id}
    </delete>

    <delete id="removeBatch" parameterType="int">
        delete from problem
        where problem_id IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- update语句 -->
    <update id="update" parameterType="Problem">
        update problem
        <set>
            <if test="problem_type!=null and problem_type!='' ">
                problem_type=#{problem_type},
            </if>
            <if test="algorithm!=null and algorithm!='' ">
                algorithm=#{algorithm},
            </if>
            <if test="data_structure!=null and data_structure!='' ">
                data_structure=#{data_structure},
            </if>
            <if test="difficulty!=null and difficulty!='' ">
                difficulty=#{difficulty},
            </if>
            <if test="title!=null and title!='' ">
                title=#{title},
            </if>
            <if test="description!=null and description!='' ">
                description=#{description},
            </if>
            <if test="input_description!=null and input_description!='' ">
                input_description=#{input_description},
            </if>
            <if test="output_description!=null and output_description!='' ">
                output_description=#{output_description},
            </if>
            <if test="input_test!=null and input_test!='' ">
                input_test=#{input_test},
            </if>
            <if test="output_test!=null and output_test!='' ">
                output_test=#{output_test},
            </if>
            <if test="data_area!=null and data_area!='' ">
                data_area=#{data_area},
            </if>
            <if test="add_time!=null and add_time!='' ">
                add_time=#{add_time},
            </if>
            <if test="time_limit!=0">
                time_limit=#{time_limit},
            </if>
            <if test="memory_limit!=0">
                memory_limit=#{memory_limit},
            </if>
        </set>
        where problem_id=#{problem_id}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index"  separator=";">
            update problem
            <set>
                problem_type=#{item.problem_type},
                algorithm=#{item.algorithm},
                data_structure=#{item.data_structure},
                difficulty=#{item.difficulty},
                title=#{item.title},
                description=#{item.description},
                input_description=#{item.input_description},
                output_description=#{item.output_description},
                input_test=#{item.input_test},
                output_test=#{item.output_test},
                data_area=#{item.data_area},
                add_time=#{item.add_time},
                time_limit=#{item.time_limit},
                memory_limit=#{item.memory_limit}
            </set>
            where problem_id=#{item.problem_id}
        </foreach>
    </update>

    <!-- select语句 -->
    <select id="getEntityById" parameterType="int" resultType="Problem">
        select * from problem
        where problem_id=#{problem_id}
    </select>

    <select id="listBatch" resultType="Problem">
        SELECT * from problem
        <where>
            problem_type=#{param1.problem_type}
            <if test="param1.title!=null and param1.title!='' ">
                AND problem.title LIKE CONCAT(#{param1.title},'%')
            </if>
            <if test="param1.algorithm!=null and param1.algorithm!='' ">
                AND problem.algorithm=#{param1.algorithm}
            </if>
            <if test="param1.data_structure!=null and param1.data_structure!='' ">
                AND problem.data_structure=#{param1.data_structure}
            </if>
            <if test="param1.difficulty!=null and param1.difficulty!='' ">
                AND problem.difficulty=#{param1.difficulty}
            </if>
        </where>
        limit #{param2},#{param3}
    </select>

    <!-- count语句 -->
    <select id="count" parameterType="Problem" resultType="int">
        select count(*) from problem
        <where>
            problem_type=#{problem_type}
            <if test="title!=null and title!='' ">
                AND problem.title LIKE CONCAT(#{title},'%')
            </if>
            <if test="algorithm!=null and algorithm!='' ">
                AND problem.algorithm=#{algorithm}
            </if>
            <if test="data_structure!=null and data_structure!='' ">
                AND problem.data_structure=#{data_structure}
            </if>
            <if test="difficulty!=null and difficulty!='' ">
                AND problem.difficulty=#{difficulty}
            </if>
        </where>
    </select>

    <select id="countAll" parameterType="int" resultType="int">
        select count(*) from problem
    </select>


</mapper>